#navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.625rem 10% 0.625rem 15%;
    .icons {
        flex-grow: 0;
    }
    h1 {
        margin: 0;
    }
    li {
        margin: 0px 0.3125rem;
    }
    sup {
        vertical-align: top;
        top: 0;
    }
    i {
        color: rgb(83, 83, 83);
    }
    .navbar-toggler {
        border-color: #f8f9fa !important;
        background-color: !important;
    }
}


@media (min-width: 768px) {
    #navbar {
        padding: 0.625rem 15%;
    }
}