body {
    font-family: 'Open Sans', 'Archivo Black', sans-serif;
}
h1 {
    font-family: 'Open Sans';
    font-weight: 700;
}
h3 {
    font-family: 'Archivo Black';
    font-size: 1em;
    padding-top: 0.625rem;
}
p {
    font-size: 0.875em;
}
sup {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
}
#hero-section h2 {
    font-family: 'Archivo Black';
    font-size: 1.25em;
}
#videos h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0.625rem 0px 1.25rem 0px;
}
#hero-section h6 {
    font-size: 0.813em;
    font-weight: 600;
    color: gray;
}


@media (min-width: 768px) {
    #hero-section h2 {
        font-size: 1.5em;
    }
    #videos h2 {
        font-size: 1.75em;
        text-align: left;
    }
    #hero-section h6 {
        font-size: 1.063em;
    }
}