#hero-section {
    height: 28.125rem;
    background-image: url('../../assets/images/image-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .hero-section__yuki {
        padding: 0.625rem 15%;
        background: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6.25rem;
        >div:nth-child(1) {
            width: 18.125;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        button:nth-child(2) {
            margin-left: 0.3125rem;
        }
    }
}


@media (min-width: 768px) {
    .hero-section__yuki {
        border-bottom: 0.0625rem solid grey;
    }
}